# Environment variables
.env

# Python
__pycache__/
*.pyc
*.pyo
.Python


# Virtual environment
insurance-venv/
venv/
.venv/
env/



# Data output 
data/processed/processed-data.csv
data/raw/raw-data.csv
data/logs/log.txt



# macOS
.DS_Store

# pytest
.pytest_cache/data/
